name: PIE

on:
  workflow_run:
    workflows: [CI]
    types: [completed]
  workflow_dispatch:
    inputs:
      run_id:
        description: Workflow run id
        required: true
        type: number

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  test:
    name: PIE tests

    if: github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success'

    runs-on: ubuntu-24.04
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        pie-branch:
          - "1.4.x"
          - "1.3.x"

        php-branch:
          - PHP-8.5
          - PHP-8.4
          - PHP-8.3
          - PHP-8.2
          - PHP-8.1

    env:
      PHP_DIR: /opt/${{ matrix.php-branch }}
      PHP: /opt/${{ matrix.php-branch }}/bin/php

    steps:
      - name: Setup
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y -qq sqlite3 libicu74 re2c

      - name: Install PHP from artifact
        uses: dawidd6/action-download-artifact@v3
        with:
          name: ${{ matrix.php-branch }}
          path: /opt/${{ matrix.php-branch }}
          workflow: ${{ github.event.workflow.id || 'CI' }}
          run_id: ${{ github.event.workflow_run.id || inputs.run_id }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: php/pie
          ref: ${{ matrix.pie-branch }}

      - name: Checkout build configuration
        uses: actions/checkout@v4
        with:
          path: build

      - name: Enable PHP and install Composer
        run: build/php-setup.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Replace system PHP
        run: |
          sudo apt remove -y php8.3-cli php8.3-common
          
          for i in php php-config phpize; do
            sudo update-alternatives --install /usr/bin/$i $i /opt/${{ matrix.php-branch }}/bin/$i 200
          done

          php-config --prefix

      - name: Install dependencies with Composer
        run: php /usr/local/bin/composer install --no-interaction --no-ansi --no-progress

      - name: Run unit tests
        run: sudo -E php -d memory_limit=-1 vendor/bin/phpunit --log-junit junit-phpunit-${{ matrix.pie-branch }}-${{ matrix.php-branch }}.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#      - name: Run behavioural tests
#        run: sudo -E php -d memory_limit=-1 vendor/bin/behat -f progress -o std -f junit -o junit-behat
#        env:
#          USING_PIE_BEHAT_DOCKERFILE: 1
#
#      - name: Rename behat junit files
#        run: |
#          for i in $(ls junit-behat); do
#            sudo mv junit-behat/$i junit-behat-${{ matrix.pie-branch }}-${{ matrix.php-branch }}-$i
#          done

      - name: Upload test report
        uses: actions/upload-artifact@v4
        if: always() # always run even if the previous step fails
        with:
          name: test-results-${{ matrix.pie-branch }}-${{ matrix.php-branch }}
          path: 'junit-*.xml'
          retention-days: 1

  report:
    name: Collect results

    runs-on: ubuntu-24.04

    needs:
      - test

    if: always() && (github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success')

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: php/pie

      - name: Download Test Report
        uses: dawidd6/action-download-artifact@v3
        with:
          run_id: ${{ github.run_id }}
          name: test-results-.*
          name_is_regexp: true
          if_no_artifact_found: warn
          path: test-results

      - name: Publish Test Report
        uses: dorny/test-reporter@v2
        with:
          name: PIE Test results
          path: '**/junit-*.xml'
          reporter: phpunit-junit
          only-summary: true
